body{
    text-align: center;
}


.main{
background-color:#EEEEEE;
font-size: 30px;
}
.main p{
    background-color:#EEEEEE;
    font-size: 16px;
    }
.photoContainer{
    background-color: white;
    font-size: 20px;
    margin: 20px 20px;
}
